Repository cmb84scd/fact-sorter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, safety, bandit

ruff:
  name: ruff
  entry: just ruff
  language: system
  pass_filenames: false

format:
  name: format
  entry: just format
  language: system
  pass_filenames: false

safety:
  name: safety
  entry: just safety
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: just bandit
  language: system
  pass_filenames: false

Add testing config and minor tiday up
  .pre-commit-config.yaml
  justfile
  poetry.lock
  pyproject.toml
  pytest.ini
  ruff.toml
  tests/unit_tests/test_eb.py
Due: ruff, format, safety

Minor update to ruff config
  ruff.toml
Due: none

Add pipeline
  .github/workflows/cleanup-cache.yml
  .github/workflows/pipeline.yml
Due: none

Adding passing tests to CI report
  .github/workflows/pipeline.yml
Due: none

Add detailed summary and annotations to CI test report
  .github/workflows/pipeline.yml
Due: none

Test using coverage file for CI report
  .github/workflows/pipeline.yml
Due: none

Use junit report and adjust CI config
  .github/workflows/pipeline.yml
Due: none

Print report in job summary
  .github/workflows/pipeline.yml
Due: none

Try different test report tool in CI
  .github/workflows/pipeline.yml
Due: none

Try using junit test report
  .github/workflows/pipeline.yml
Due: none

Use coverage instead of pytest-cov
  .github/workflows/pipeline.yml
  justfile
  poetry.lock
  pyproject.toml
Due: safety

Add safety job back in
  .github/workflows/pipeline.yml
Due: none

Setup repo (#1)
  .github/workflows/cleanup-cache.yml
  .github/workflows/pipeline.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .safety-policy.yml
  eventbus_learning/eb.py
  justfile
  poetry.lock
  pyproject.toml
  pytest.ini
  ruff.toml
  tests/unit_tests/test_eb.py
Due: ruff, format, safety

Add functionality to get a fact and format the response
  eventbus_learning/__init__.py
  eventbus_learning/application/__init__.py
  eventbus_learning/application/get_fact.py
  eventbus_learning/eb.py
  poetry.lock
  pyproject.toml
  template.yaml
  tests/unit_tests/__init__.py
  tests/unit_tests/application/__init__.py
  tests/unit_tests/application/test_get_fact.py
  tests/unit_tests/test_eb.py
Due: ruff, format, safety

Add log out fact functionality
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Have handler call excute function
  eventbus_learning/application/get_fact.py
  template.yaml
Due: ruff, format

Refactor logger and have set up in a fixture
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Correct handler call in template yaml
  template.yaml
Due: none

Update log msg and move to var in test
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Add cfn-lint
  justfile
  poetry.lock
  pyproject.toml
Due: safety

Add coveragerc and amend coverage config
  .coveragerc
  justfile
Due: none

Add connection error exception
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Add timeout to request plus generic exception
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Refactor tests to make url DRY
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Handle no data in the database
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format

Update dependencies
  poetry.lock
  pyproject.toml
Due: safety

Add get fact lambda (#2)
  .coveragerc
  eventbus_learning/__init__.py
  eventbus_learning/application/__init__.py
  eventbus_learning/application/get_fact.py
  eventbus_learning/eb.py
  justfile
  poetry.lock
  pyproject.toml
  template.yaml
  tests/unit_tests/__init__.py
  tests/unit_tests/application/__init__.py
  tests/unit_tests/application/test_get_fact.py
  tests/unit_tests/test_eb.py
Due: ruff, format, safety

Update cfn-lint
  poetry.lock
  pyproject.toml
Due: safety

Add cdk and create get fact function
  app.py
  cdk.json
  eventbus_learning/infrastructure/__init__.py
  eventbus_learning/infrastructure/stack.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/infrastructure/__init__.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, safety

Update deps
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: safety

Add test for lambda properties
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format

Add env and region to stack
  .gitignore
  app.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Amend app command in app.py
  cdk.json
Due: none

Amend stack test and order properties
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format

Add test for auto generated lambda role
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format

Remove template yaml file
  template.yaml
Due: none

Adjust test config
  .github/workflows/pipeline.yml
  justfile
  pytest.ini
Due: none

Add factory for lambda properties
  tests/unit_tests/factories/__init__.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format

Add iam role factory and amend lambda factory
  tests/unit_tests/factories/__init__.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format

Path conditions:
  ruff: any of: \.py$
  format: any of: \.py$
  safety: any of: poetry.lock
  bandit: any of: (^\.bandit|^animal_fact_api/)$
